<div class="flex flex-col items-center justify-center h-screen bg-black">
  <img src="assets/img/Kanzler-logo.png" alt="">
  <form (ngSubmit)="login()" class="text-orange-400 p-8 rounded shadow-md w-96">

    <label>Mitarbeiternummer</label>
    <input [(ngModel)]="userId" name="userId" required class="text-black p-2 w-full mb-4"/>

    <label>Passwort</label>
    <input [(ngModel)]="password" name="password" type="password" required class="text-black p-2 w-full mb-6"/>

    <button type="submit" class="bg-orange-400 hover:bg-orange-600 text-white py-2 px-4 rounded w-full">
      Login
    </button>
  </form>
</div>
